@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
}

article{
    color: white;
    box-sizing: border-box;
    width: 450px;
    height: 250px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}



#card1{
    background: linear-gradient(90deg, rgba(255,187,150,1) 50%, rgba(255,66,222,1) 100%);
}

.contentBox{
    margin-left: 30px;
}

.cardHeader{
    font-size: 1.4em;
    text-transform: capitalize;
}

.cardCounter{
    font-size: 2em;
}

.cardFooter{
    font-size: 1.2em;

}

.card::before{
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: white;
    opacity: 0.4;
    top: -20px;
    right: -70px;
}

.card::after{
    content: '';
    position: absolute;
    height: 220px;
    width: 220px;
    border-radius: 110px;
    background-color: white;
    opacity: 0.4;
    bottom: -100px;
    right: -20px;
}

.pict{
    position: absolute;
    top: 30px;
    right: 30px;
}