@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
}

article{
    color: white;
    box-sizing: border-box;
    width: 450px;
    height: 250px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: inline-block;

}

p{
    margin: 0;
}

#card1{
    background: linear-gradient(90deg, rgba(255,187,150,1) 50%, rgba(255,66,222,1) 100%);
}

#card2{
    background: linear-gradient(90deg, rgba(138,203,255,1) 50%, rgba(0,146,255,1) 100%);
}


#card3{
    background: linear-gradient(90deg, rgba(90,255,189,1) 50%, rgba(3,176,124,1) 100%);
}



.cardHeader{
    font-size: 1.4em;
    text-transform: capitalize;
    padding: 40px 0 5px 30px;
}

.cardCounter{
    font-size: 2em;
    padding: 5px 0 30px 30px;
}

.cardFooter{
    font-size: 1.2em;
    padding: 30px 0 5px 30px;
}

.card::before{
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: white;
    opacity: 0.4;
    top: -20px;
    right: -70px;
}

.card::after{
    content: '';
    position: absolute;
    height: 220px;
    width: 220px;
    border-radius: 110px;
    background-color: white;
    opacity: 0.4;
    bottom: -100px;
    right: -20px;
}

.pict{
    position: absolute;
    top: 40px;
    right: 40px;
}